<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="navbar-nav mr-auto">
              <router-link class="nav-item" to="/">
                <a class="nav-link">Inicio</a>
              </router-link>
            </ul>
          </div>
          <div class="row">
            <ul class="navbar-nav mr-auto">
              <router-link class="nav-item" to="/register">
                <a class="nav-link">Registro</a>
              </router-link>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
