<template>
  <div>
    <navbar></navbar>
    <router-view class="mt-3"></router-view>
  </div>
</template>

<script>
  import Navbar from './components/Navbar.vue'

  export default {
    components: {
      Navbar
    }
  }
</script>
